{% extends 'base.html'  %}
{% block title %} Update Expenses {% endblock  %}
  {% block body %}
<div class="container">
    <h1>Burn Rate Form</h1>
     <form action="{% url 'addData' %}" method="post">
         {% csrf_token %}
     <!--{{form.as_p}} this will make it vertical-->
    {{form}}
         <input type="submit" value="SAVE" class=" btn btn-success">
         </form>
</div>
<div class="container">
    <h1>Burn Detail Form</h1>
     <form action="{% url 'addDetailData' %}" method="post">
         {% csrf_token %}
     <!--{{form.as_p}} this will make it vertical-->
    {{formD}}
         <input type="submit" value="SAVE_D" class=" btn btn-success">
         </form>
</div>

{% endblock  %}